#!/bin/bash

prog=pbwc

JPS=/usr/java/jdk1.7.0_45/bin/jps

start() {
	[ "$EUID" != "0" ] && exit 4
#	[ -x /usr/sbin/ntpd ] || exit 5
#	[ -f /etc/sysconfig/ntpd ] || exit 6
#	. /etc/sysconfig/ntpd

	${JPS} -lmvV | grep "start.jar -Xmx1024m -Dworkdir=/root/workspace/PetaBaseWebConsole/workdir" 1>/dev/null 2>&1
	if [ $? = 0 ];then
	 echo "petabase web console is already running"
	 exit 9
	fi

        # Start daemons.
        echo -n $"Starting $prog: "
	#nohup ${prog} 127.0.0.1 8088 & 1>/dev/null 2>&1
	${prog} 
        #daemon $prog $OPTIONS
	RETVAL=$?
        echo
#	[ $RETVAL -eq 0 ] && touch $lockfile
	return $RETVAL
}

stop() {
	[ "$EUID" != "0" ] && exit 4
        echo -n $"Shutting down $prog: "

	#kill -9 `pidof ${prog}`
        kill -9 `${JPS} -lmvV | grep "start.jar -Xmx1024m -Dworkdir=/root/workspace/PetaBaseWebConsole/workdir" | cut -d' ' -f1`
	RETVAL=$?
        echo
#	[ $RETVAL -eq 0 ] && rm -f $lockfile
	return $RETVAL
}

status_of_mytimed()
{
  #pidof ${prog} 1>/dev/null 2>&1
  ${JPS} -lmvV | grep "start.jar -Xmx1024m -Dworkdir=/root/workspace/PetaBaseWebConsole/workdir" 1>/dev/null 2>&1
  if [ $? = 0 ];then
   echo "petabase web console is running"
  else
   echo "petabase web console is not running"
  fi
}

# See how we were called.
case "$1" in
  start)
	start
	;;
  stop)
	stop
	;;
  status)
	status_of_mytimed
	;;
  restart|force-reload)
	stop
	start
	;;
  *)
	echo $"Usage: $0 {start|stop|status|restart|force-reload}"
	exit 2
esac
